
<br>
<br>
<br><br><br><br>
<div class="container-fluid">
  <div class="row">
    <div class="col-3"></div>
    <div class="col-9">
      <div class="row mb-3">
        <div class="col d-flex justify-content-end">
          <button class="btn btn-dark me-2" (click)="addNewRow()" style="position:relative;top:50px;width:120px;border-radius:10px;right:250px;height:45px;">AddNew</button>
        </div>
      </div>
      <div class="tablediv">
        <h2 style="color: white;text-align: center;position:relative;max-width: 700px; right: 170px; bottom: 80px;" >Room Type</h2>
      <table class="table table-bordered" style="position:relative;right:230px;top:0px;border-collapse: collapse;box-shadow: 5px 5px 8px rgba(0, 0, 0, 0.717);">
        <thead>
          <tr>
            <!-- <th>ID</th> -->
            <th>Name</th>
            <th>Status</th>
            <th>Action</th>
            
          </tr>
        </thead>
        <tbody>
          <ng-container *ngFor="let roomType of roomTypes; let i = index">
            <tr>
              <!-- <td>{{ roomType.id }}</td> -->
              <td>
                <ng-container *ngIf="!isEditMode(i); else editMode">
                  {{ roomType.name }}
                </ng-container>
                <ng-template #editMode>
                  <input type="text" [(ngModel)]="roomType.name" (keyup.enter)="editRoomType(i)">
                </ng-template>
              </td>
              <td>{{roomType.status}}</td>
              <td>
                <ng-container *ngIf="!isEditMode(i)">
                  <button class="btn btn-lg me-2" (click)="toggleEditMode(i)"><i class="fa-regular fa-pen-to-square" ></i></button>
                </ng-container>
                <button class="btn btn-lg" (click)="deleteRoomType(roomType)"><i class="fa-solid fa-trash-can" style="color:red;"></i></button>
              </td>
            </tr>
          </ng-container>
          <tr *ngIf="showNewRow">
            
            <td><input type="text" [(ngModel)]="newRoomType.name"></td>
            <td><input type="text" [(ngModel)]="newRoomType.status"></td>
            <td>
              <button class="btn btn-primary me-2" (click)="submitNewRoomType()">Submit</button>
            </td>
          </tr>
        </tbody>
      </table>
      </div>
    </div>
  </div>
</div>
